# ===========================
# Flutter / Dart
# ===========================

.dart_tool/
.packages
.pub/
build/
doc/api/

# Keep pubspec.lock for Flutter apps
# !pubspec.lock

# ===========================
# Android
# ===========================

.gradle/
local.properties
.navigation/
captures/
.externalNativeBuild/

*.apk
*.ap_
*.aab
*.dex
*.class
*.log

# Uncomment ONLY if you recreate it from GitHub Secrets
# google-services.json

# ===========================
# iOS
# ===========================

DerivedData/
xcuserdata/

# ===========================
# IDEs
# ===========================

.idea/
*.iml
*.iws
.vscode/

# ===========================
# macOS
# ===========================

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Trash-*

# ===========================
# Linux
# ===========================

.nfs*
*~

# ===========================
# Vim
# ===========================

tags
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
Session.vim
.netrwhist
[._]*.un~

# ===========================
# Fastlane
# ===========================

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output