# Dart/Flutter
.dart_tool/
.packages
.pub/
pubspec.lock
build/
doc/api/

# Android
*.apk
*.ap_
*.dex
*.class
.gradle/
local.properties
proguard/
*.log
.navigation/
captures/
.externalNativeBuild
google-services.json

# IDEs
.idea/
*.iml
*.iws
.vscode/

# OS/Global
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Trash-*
.nfs*
*~
tags
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
Session.vim
.netrwhist
[._]*.un~
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md